.container {
    display: grid;
    width: 100px;
    height: 100px;
    
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container .item {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }